{% extends "base.html" %}
{% load static %}
{% block head_title %}
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}" />
    <title>{{ title }}</title>
{% endblock head_title %}

{% block base_content %}

    <div class="hi">
        <h1>Веб приложение для просмотров файлов по публичной ссылке Яндекс.Диск</h1>
        <p>Для того чтобы воспользоваться сервисом, необходимо зарегистрироваться.</p>
        <p>Или воспользоваться профилем:</p>
        <p>Логин admin</p>
        <p>Пароль qwerty</p>
        <button class="start"><a href="{% url 'disk' %}">Начать</a></button>
    </div>

{% endblock base_content %}