<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
    {% block head_title %}

    {% endblock head_title %}
</head>

<body>
    <nav class="header">
        <div class="user">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">{{user.username}} Выйти</a>
            {% else %}
                <a href="{% url 'login' %}"><img class="logout" src="{% static 'icons/icons_user.jpg' %}"></a>
            {% endif %}
        </div>
    </nav>
    {% block base_content %}

    {% endblock base_content %}
</body>
</html>